<div th:replace="shared/header"></div>
<div class="row">
        <div class="col-md-3">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Welcare Hospital</h3>

              <div class="box-tools pull-right">
                
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div class="direct-chat-messages">
                  <div>
                      <img src="/img/hospital/welcare.jpg" style="width:265px; border-radius: 3px; height:100px"> </div>
              <hr>
              <span><b>Address:</b>Pashupati Rd, Kathmandu 44600</span>
              <span><b>Hours:</b><select style="border: none; color: blue"><option>Open 24 Hours</option>
                      <option>Sunday 24 Hours</option>
                  <option>Sunday 24 Hours</option>
                  <option>Monday 24 Hours</option>
                  <option>Wednesday 24 Hours</option>
                  <option>Friday 24 Hours</option>
                  <option>Saturday 24 Hours</option></select></span><br>
                  <span><b>Phone:</b>01-4426135</span><br>
                  <span class="btn btn-flat bg-green"  style="height: 25px; width: 100%"></span>
              
              </div>
              <!--/.direct-chat-messages-->
             
              <!-- Contacts are loaded here -->
              <div class="direct-chat-contacts">
                <ul class="contacts-list">
                 
                  <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
              </div>
              <!-- /.direct-chat-pane -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <form action="#" method="post">
                <div class="input-group">
                 
                      <span class="input-group-btn">
                          <a href="http://www.welcarehospital.com.np/" style="width: 100%" class="btn btn-primary btn-flat">MORE INFO</a>
                      </span>
                </div>
              </form>
            </div>
            <!-- /.box-footer-->
          </div>
          <!--/.direct-chat -->
        </div>
        <div class="col-md-3">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Kathmandu Model Hospital</h3>

              <div class="box-tools pull-right">
                
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div class="direct-chat-messages">
                  <div>
                      <img src="/img/hospital/modelhs.jpg" style="width:265px; border-radius: 3px; height:100px"> </div>
              <hr>
              <span><b>Address:</b>Adwait Marg, Kathmandu 44600</span>
              <span><b>Hours:</b><select style="border: none; color: blue"><option>Open 24 Hours</option>
                      <option>Sunday 24 Hours</option>
                  <option>Sunday 24 Hours</option>
                  <option>Monday 24 Hours</option>
                  <option>Wednesday 24 Hours</option>
                  <option>Friday 24 Hours</option>
                  <option>Saturday 24 Hours</option></select></span><br>
                  <span><b>Phone:</b>01-4240806</span><br>
                  <span class="btn bg-orange"  style="height: 25px; width: 100%"></span>
              
              </div>
              <!--/.direct-chat-messages-->
             
              <!-- Contacts are loaded here -->
              <div class="direct-chat-contacts">
                <ul class="contacts-list">
                  
                  <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
              </div>
              <!-- /.direct-chat-pane -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <form action="#" method="post">
                <div class="input-group">
                 
                      <span class="input-group-btn">
                          <a href="http://www.welcarehospital.com.np/" style="width: 100%" class="btn btn-primary btn-flat">MORE INFO</a>
                      </span>
                </div>
              </form>
            </div>
            <!-- /.box-footer-->
          </div>
          <!--/.direct-chat -->
        </div>
      <div class="col-md-3">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Bir Hospital</h3>

              <div class="box-tools pull-right">
                
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div class="direct-chat-messages">
                  <div>
                      <img src="/img/hospital/birhs.jpg" style="width:265px; border-radius: 3px; height:100px"> </div>
              <hr>
              <span><b>Address:</b>Kanti Path, Kathmandu 44600</span>
              <span><b>Hours:</b><select style="border: none; color: blue"><option>Open 24 Hours</option>
                      <option>Sunday 24 Hours</option>
                  <option>Sunday 24 Hours</option>
                  <option>Monday 24 Hours</option>
                  <option>Wednesday 24 Hours</option>
                  <option>Friday 24 Hours</option>
                  <option>Saturday 24 Hours</option></select></span><br>
                  <span><b>Phone:</b>01-4221119</span><br>
                  <span class="btn  bg-yellow"  style="height: 25px; width: 100%"></span>
              
              </div>
              <!--/.direct-chat-messages-->
             
              <!-- Contacts are loaded here -->
              <div class="direct-chat-contacts">
                <ul class="contacts-list">
                  
                  <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
              </div>
              <!-- /.direct-chat-pane -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <form action="#" method="post">
                <div class="input-group">
                 
                      <span class="input-group-btn">
                          <a href="http://www.welcarehospital.com.np/" style="width: 100%" class="btn btn-primary btn-flat">MORE INFO</a>
                      </span>
                </div>
              </form>
            </div>
            <!-- /.box-footer-->
          </div>
          <!--/.direct-chat -->
        </div>
       <div class="col-md-3">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Norvic International Hospital</h3>

              <div class="box-tools pull-right">
                
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div class="direct-chat-messages">
                  <div>
                      <img src="/img/hospital/norvichs.jpg" style="width:265px; border-radius: 3px; height:100px"> </div>
              <hr>
              <span><b>Address:</b>Kathmandu 44617</span>
              <span><b>Hours:</b><select style="border: none; color: blue"><option>Open 24 Hours</option>
                      <option>Sunday 24 Hours</option>
                  <option>Sunday 24 Hours</option>
                  <option>Monday 24 Hours</option>
                  <option>Wednesday 24 Hours</option>
                  <option>Friday 24 Hours</option>
                  <option>Saturday 24 Hours</option></select></span><br>
                  <span><b>Phone:</b>01-4258554</span><br>
                  <span class="btn bg-purple"  style="height: 25px; width: 100%"></span>
              
              </div>
              <!--/.direct-chat-messages-->
             
              <!-- Contacts are loaded here -->
              <div class="direct-chat-contacts">
                <ul class="contacts-list">
                  
                  <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
              </div>
              <!-- /.direct-chat-pane -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <form action="#" method="post">
                <div class="input-group">
                 
                      <span class="input-group-btn">
                          <a href="https://norvichospital.com/" style="width: 100%" class="btn btn-primary btn-flat">MORE INFO</a>
                      </span>
                </div>
              </form>
            </div>
            <!-- /.box-footer-->
          </div>
          <!--/.direct-chat -->
        </div>
        <!-- /.col -->

       
        <!-- /.col -->
      </div>
<div class="row">
        <div class="col-md-3">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Om Hospital</h3>

              <div class="box-tools pull-right">
                
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div class="direct-chat-messages">
                  <div>
                      <img src="/img/hospital/omhs.jpg" style="width:265px; border-radius: 3px; height:100px"> </div>
              <hr>
              <span><b>Address:</b>चाबहिल सडक, Kathmandu 44602</span>
              <span><b>Hours:</b><select style="border: none; color: blue"><option>Open 24 Hours</option>
                      <option>Sunday 24 Hours</option>
                  <option>Sunday 24 Hours</option>
                  <option>Monday 24 Hours</option>
                  <option>Wednesday 24 Hours</option>
                  <option>Friday 24 Hours</option>
                  <option>Saturday 24 Hours</option></select></span><br>
                  <span><b>Phone:</b>01-4476225</span><br>
                  <span class="btn bg-gray"  style="height: 25px; width: 100%"></span>
              
              </div>
              <!--/.direct-chat-messages-->
             
              <!-- Contacts are loaded here -->
              <div class="direct-chat-contacts">
                <ul class="contacts-list">
                  
                  <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
              </div>
              <!-- /.direct-chat-pane -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <form action="#" method="post">
                <div class="input-group">
                 
                      <span class="input-group-btn">
                          <a href="http://www.welcarehospital.com.np/" style="width: 100%" class="btn btn-primary btn-flat">MORE INFO</a>
                      </span>
                </div>
              </form>
            </div>
            <!-- /.box-footer-->
          </div>
          <!--/.direct-chat -->
        </div>
      <div class="col-md-3">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Kathmandu Medical College</h3>

              <div class="box-tools pull-right">
                
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div class="direct-chat-messages">
                  <div>
                      <img src="/img/hospital/kmchs.jpg" style="width:265px; border-radius: 3px; height:100px"> </div>
              <hr>
              <span><b>Address:</b>Sinamangal Rd, Kathmandu 44600</span>
              <span><b>Hours:</b><select style="border: none; color: blue"><option>Open 24 Hours</option>
                      <option>Sunday 24 Hours</option>
                  <option>Sunday 24 Hours</option>
                  <option>Monday 24 Hours</option>
                  <option>Wednesday 24 Hours</option>
                  <option>Friday 24 Hours</option>
                  <option>Saturday 24 Hours</option></select></span><br>
                  <span><b>Phone:</b>01-4469064</span><br>
                  <span class="btn bg-black"  style="height: 25px; width: 100%"></span>
              
              </div>
              <!--/.direct-chat-messages-->
             
              <!-- Contacts are loaded here -->
              <div class="direct-chat-contacts">
                <ul class="contacts-list">
                  
                  <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
              </div>
              <!-- /.direct-chat-pane -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <form action="#" method="post">
                <div class="input-group">
                 
                      <span class="input-group-btn">
                          <a href="https://kmc.edu.np/" style="width: 100%" class="btn btn-primary btn-flat">MORE INFO</a>
                      </span>
                </div>
              </form>
            </div>
            <!-- /.box-footer-->
          </div>
          <!--/.direct-chat -->
        </div>
      <div class="col-md-3">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Nepal National Hospital</h3>

              <div class="box-tools pull-right">
                
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div class="direct-chat-messages">
                  <div>
                      <img src="/img/hospital/nnhs.jpg" style="width:265px; border-radius: 3px; height:100px"> </div>
              <hr>
              <span><b>Address:</b>Kathmandu 44600</span>
              <span><b>Hours:</b><select style="border: none; color: blue"><option>Open 24 Hours</option>
                      <option>Sunday 24 Hours</option>
                  <option>Sunday 24 Hours</option>
                  <option>Monday 24 Hours</option>
                  <option>Wednesday 24 Hours</option>
                  <option>Friday 24 Hours</option>
                  <option>Saturday 24 Hours</option></select></span><br>
                  <span><b>Phone:</b>01-5225101</span><br>
                  <span class="btn bg-green"  style="height: 25px; width: 100%"></span>
              
              </div>
              <!--/.direct-chat-messages-->
             
              <!-- Contacts are loaded here -->
              <div class="direct-chat-contacts">
                <ul class="contacts-list">
                  
                  <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
              </div>
              <!-- /.direct-chat-pane -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <form action="#" method="post">
                <div class="input-group">
                 
                      <span class="input-group-btn">
                          <a href="http://nepalnationalhospital.com/" style="width: 100%" class="btn btn-primary btn-flat">MORE INFO</a>
                      </span>
                </div>
              </form>
            </div>
            <!-- /.box-footer-->
          </div>
          <!--/.direct-chat -->
        </div>
     <div class="col-md-3">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Grande International Hospital</h3>

              <div class="box-tools pull-right">
                
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div class="direct-chat-messages">
                  <div>
                      <img src="/img/hospital/grandihs.jpg" style="width:265px; border-radius: 3px; height:100px"> </div>
              <hr>
              <span><b>Address:</b>Tokha Rd, Kathmandu 44600</span>
              <span><b>Hours:</b><select style="border: none; color: blue"><option>Open 24 Hours</option>
                      <option>Sunday 24 Hours</option>
                  <option>Sunday 24 Hours</option>
                  <option>Monday 24 Hours</option>
                  <option>Wednesday 24 Hours</option>
                  <option>Friday 24 Hours</option>
                  <option>Saturday 24 Hours</option></select></span><br>
                  <span><b>Phone:</b> 01-5159266</span><br>
                  <span class="btn btn-primary"  style="height: 25px; width: 100%"></span>
              
              </div>
              <!--/.direct-chat-messages-->
             
              <!-- Contacts are loaded here -->
              <div class="direct-chat-contacts">
                <ul class="contacts-list">
                  
                  <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
              </div>
              <!-- /.direct-chat-pane -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <form action="#" method="post">
                <div class="input-group">
                 
                      <span class="input-group-btn">
                          <a href="https://www.grandehospital.com/" style="width: 100%" class="btn btn-primary btn-flat">MORE INFO</a>
                      </span>
                </div>
              </form>
            </div>
            <!-- /.box-footer-->
          </div>
          <!--/.direct-chat -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
      </div>
<div th:replace="shared/footer"></div>
